* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;

}


body {
  background: linear-gradient(to bottom, #ffefd5, #ffe4b5);
  min-height: 100vh;
  overflow: hidden;
}


#pokemonName {
    padding: 10px;

}


h1{
    margin-bottom: 10px;
}

button{
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #ff1c1c;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    

}

button:hover {
    background-color: #cc0000;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    flex-direction: column;
    gap: 12px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

p {
    color: red;
}